body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
    /* background-color: #f1f1f1; */
    background-color: seashell;
    /* background-image: url('https://img.freepik.com/premium-photo/tasty-pizza-ingredients-isolated-white_185193-20017.jpg?w=740'); */
    background-color: rgba(111, 189, 202, 0.5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
